
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
  }
  
  header {
    position: absolute;
    top: 4%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    background-color: rgba(146, 141, 211, 0.06);
    border-radius: 10px;
    padding: 8px 10px;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-nav a,
.right-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 24px;

}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.right-nav a:hover,
.left-nav a:hover {
    color:#2d1b64; 
}

/* ------------------------ */

main {
  margin-top: 100px;
}



  .hero {
    text-align: center;
    padding: 50px 20px;
  }
  
  .hero h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  
  .hero img {
    width: 95%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  



  .projects {
    padding: 50px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    padding: 40px;
    margin-left: 50px;
  }
 
  
  .project img {
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    transition: transform 0.1s ease, box-shadow 0.3s ease;
  }
  
  .project img:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 20px rgba(48, 4, 94, 0.982); 
  }


  .project h3 {
    margin: 10px 0 5px;
  }
  
  .project p {
    font-size: 0.9rem;
    color: #ccc;
  }
  


#showcase {
  background-color: #000;
  padding: 60px 20px;
  color: #fff; 
}

#showcase h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: left;
}


.showcase-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 100px;
  text-align: center;
  width: 1300px;
  padding: 90px;
}


.showcase-item {
  background-color: #1a1a1a; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.showcase-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(48, 4, 94, 0.982); 
}

.showcase-image {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #6c5ce7; 
}


.showcase-item h3 {
  font-size: 1.5rem;
  margin: 15px;
  color: #ffffff;
}

.showcase-item button {
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.s ease;
}

.showcase-item button:hover {
  background-color: #2d1b64;
}



.white-line {
  height: 1px;
  background-color: white;
  margin:0px 0;
}
  




  
.contact-me-section {
  background-color: #000;
  color: #fff; 
  text-align: center;
  padding: 40px 20px;
}

.contact-me-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-me-section p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.code-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.code-input input[type="text"] {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.contact-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-actions .submit-btn {
  background-color: #938ed6; 
  color: black;
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.contact-actions .submit-btn:hover {
  background-color: #2d1b64; 
}

.contact-actions .skip-link{
  color: #928DD3;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.contact-actions .skip-link {
  color: #9376e0;
}


.footer-section {
  padding: 40px 20px;
  text-align: center;
}

.connect-section h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subscription-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.subscription-box input[type="email"] {
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.subscription-box button {
  background-color: rgba(146, 141, 211, 1); 
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.subscription-box button:hover {
  background-color: #2d1b64; 
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
}
